<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout :: head (title = 'Login')}"></head>

<body>
<header th:replace="~{layout :: header}"></header>
<main role="main" class="container">
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div sec:authorize="isAuthenticated()" class="alert alert-warning" role="alert">
        You are already logged in
    </div>
    <form sec:authorize="isAnonymous()" class="form-auth border rounded" th:action="@{/login}" th:object="${form}"
          method="post">
        <div class="text-center">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                 width="72" height="72">
        </div>

        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>

        <div class="container">
            <label for="login-username-input" class="form-label">Username</label>
            <input th:field="*{username}" type="text"
                   th:class="${#fields.hasErrors('username')} ? 'form-control is-invalid' : 'form-control'"
                   id="login-username-input" aria-describedby="login-username-feedback" minlength="4" required>
            <span th:if="${#fields.hasErrors('username')}" id="login-username-input-feedback"
                  class="invalid-feedback" th:text="${#fields.errors('username')[0]}">
                </span>

        </div>

        <div class="container">
            <label for="login-password-input" class="form-label">Password</label>
            <input th:field="*{password}" type="password"
                   th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control' "
                   id="login-password-input" aria-describedby="login-password-input-feedback" minlength="8" required>
            <span th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"
                  class="invalid-feedback" id="login-password-input-feedback">
                </span>

        </div>

        <div class="container">
            Don't have an account?
            <a th:href="@{/register}">Create an account
            </a>
        </div>

        <div class="container text-center pt-2 pb-2">
            <input type="submit" class="btn btn-outline-primary" value="Log in"/>
        </div>
        <div class="container pt-2" th:if="${param.error} != null">
            <div class="alert alert-danger" role="alert">
                <span>Invalid username or password</span>
            </div>
        </div>
    </form>

</main>
<footer th:replace="~{layout::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>